/*
csusb_general_inquiry.css
Custom Radius form styling by bgateb
Last Modified: 04.28.2020
*/

body {
    background-color: #dadada;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

form,
#form-wrapper {
    font-size: 14px;
    background-color: #FFF;
	margin: 10px;
    width: 800px;
}

.form-control.section-control {
    background:linear-gradient(to bottom, rgba(240, 240, 240, 1) 30%, #ffffff 70%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: none;
    margin: 5px;
}

#form-wrapper {
    margin: 0 auto;
    /* background-image: url("https://csusbernardino.radiusbycampusmgmt.com/crm/viewImage?id=3269000000062017&amp;fileName=%2FASR+E-Mails%2F2019%2FCSUSB_WDTF_Grunge_Header.jpg"); */
    background-repeat: no-repeat;
    min-height: 129px;
	padding: 10px;
}

#form-header-csusb {
    margin: 0 auto;
    background-repeat: no-repeat;
    min-height: 191px;
    display: block;
}

#form-wrapper div.blurb {
    margin: 10px 0px 0px 10px;
    text-align: left;
    font-size: 16px;
    line-height: 18px;
}

.form-control {
	text-align: left;
    font-size: 14px;
}

.dynamic-form-required {
	text-align: left;
    font-size: 14px;
}

.dynamic-form-required.legend {
    text-align: right;
    margin: 10px;
}

.dynamicFormDefaults {
    font-size: 12px;
}

.field-control p.note {
    margin: 5px 0 0;
    font-size: 11px;
    background-color: #fdf5d3;
    border: 1px solid #fae27e;
    color: #111111;
    padding: 6px;
}

/*------------------------------------------------
General Field Style
------------------------------------------------*/
input[type=text] 
{
	display: inline-block;
    height: 30px;
    color: #333;
    text-align: left;
    font-size: 12px;
    letter-spacing: .1rem;
    white-space: normal;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
    background: #FFFFFF;
    width: 18em !important;
}

/*------------------------------------------------
Individual Field ID Styling 
------------------------------------------------*/
#Contacts\2e 3269000000003416, /* First Name */
#Contacts\2e 3269000000093023, /* Middle Name */
#Contacts\2e 3269000000003418, /* Last Name */
#Contacts\2e 3269000000003424, /* Email */
#Contacts\2e 3269000000003424, /* Campus Email */
#Contacts\2e 3269000000003436, /* Phone */
#Contacts\2e 3269000000003436, /* Campus Phone */
#Contacts\2e 3269000000003440, /* Mobile Phone */
#Contacts\2e 3269000000097005, /* Major of Interest 1 */
#Contacts\2e 3269000000003490, /* City */
#Contacts\2e 3269000000196733, /* Country Picklist */
#Contacts\2e 3269000000205003, /* Other Country Picklist */
#Contacts\2e 3269000010205756, /* Country of Birth */ 
#Contacts\2e 3269000010205356, /* Country of Citizenship */ 
#Contacts\2e 3269000010207152, /* Country of Legal Residence */ 
#Contacts\2e 3269000000089067 /* Academic Level */
{
	display: inline-block;
    height: 30px;
    color: #333;
    text-align: left;
    font-size: 12px;
    letter-spacing: .1rem;
    white-space: normal;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
    background: #FFFFFF;
    width: 18em !important;
}

#Contacts\2e 3269000000003426, /* Coyote ID */
#Contacts\2e 3269000000003442, /* DOB */
#Contacts\2e 3269000000220644, /* Contact Type */
#Contacts\2e 3269000000003492, /* Postal Code */
#Contacts\2e 3269000000003460, /* Gender */
#Contacts\2e 3269000000093109, /* Prospective Entry Term */
#Registrations\2e 3269000010434225 /* Application Term */
{
	display: inline-block;
    height: 30px;
    color: #333;
    text-align: left;
    font-size: 12px;
    letter-spacing: .1rem;
    white-space: normal;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
    background: #FFFFFF;
    width: 8em !important;
}

#Contacts\2e 3269000000207009, /* State Picklist */
#Contacts\2e 3269000000196031 /* Other State Picklist */
{
	display: inline-block;
    height: 30px;
    color: #333;
    text-align: left;
    font-size: 12px;
    letter-spacing: .1rem;
    white-space: normal;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
    background: #FFFFFF;
    width: 6em !important;
}

#Contacts\2e 3269000000003488, /* Address Line 1 */
#Registrations\2e 3269000010434251 /* Inteded Major */ 
{
	display: inline-block;
    height: 30px;
    color: #333;
    text-align: left;
    font-size: 12px;
    letter-spacing: .1rem;
    white-space: normal;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
    background: #FFFFFF;
    width: 40em !important;
}


#form-wrapper.ui-tabs-left .ui-tabs-nav li a {
    font-size: 1.25em;
}

#form-wrapper li.page-child-wrapper > .richtext-control {
    font-size: 1.5em;
}

#form-wrapper li.page-child-wrapper > .richtext-control > ul > li {
    font-weight: 400;
}

#form-wrapper li.page-child-wrapper > .richtext-control > ul > li > ul > li {
    font-weight: 300;
}

#form-wrapper li.page-child-wrapper > .richtext-control > ul > li:nth-child(odd) {
    background-color: #eeefff;
}

ul.page-child-helper > li.page-child-wrapper a {
    color: #fff;
    font-size: 87%;
}

ul.page-child-helper > li.page-child-wrapper a:hover {
    color: #eaeaea;
}

#form-footer-csusb {
    width: 800px;
    min-height: 118px;
    /* background-image: url(https://mcneese.hobsonsradius.com/crm/viewImage?id=1470000000527307&fileName=%2FMcNeese_footer.png); */
    background-repeat: repeat-x;
} 

.inline {
    display: block;
    margin: 0 auto;
    padding: 0;
    list-style: none outside;
}

.inline li {
    display: inline-block;
}

.center {
    text-align: center;
}

.csusb .element-invisible {
    display: block;
    visibility: hidden;
    overflow: hidden;
    font-size: 0px;
    line-height: 0px;
    width: 0px;
    min-width: 0px;
    max-width: 0px;
    height: 0px;
    min-height: 0px;
    max-height: 0px;
    margin: 0px;
    padding: 0px;
    border: none;
}

#form-wrapper form {
    line-height: 16px;
}

#form-wrapper .dynamic-form-required {
    color: #a10000;
}

#form-wrapper .title {
    font-size: 14px;
    padding: 22px 13px;
    background-color: #00477f;
    padding: .1em .25em;
    border: solid 1px #00335b;
    color: #fff;
}

#form-wrapper form button {
    display: inline-block;
    height: 50px;
    padding: 0 30px;
    color: #333;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: normal;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
    background: #F3CF45;
    border-color: #acacac;
    margin-bottom: 20px;
    width: 130px;
}

#form-wrapper form button:hover, #form-wrapper form button:active {
    color: #fff;
    background: #00477f;
}

#form-header > div > div > form > div.form-action-bar.bottom > div.middle-buttons > button:before {
    content: '\2192\00a0' ;
}

@media only screen and (max-width: 767px) {

    form, #form-wrapper {
        width: 100%;
    }

    #form-header {
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    #form-wrapper > form > div.form-action-bar.bottom > div.left-buttons,
    #form-wrapper > form > div.form-action-bar.bottom > div.right-buttons {
        display: block;
        visibility: hidden;
        overflow: hidden;
        font-size: 0px;
        line-height: 0px;
        width: 0px;
        min-width: 0px;
        max-width: 0px;
        height: 0px;
        min-height: 0px;
        max-height: 0px;
        margin: 0px;
        padding: 0px;
        border: none;
    }

    #form-wrapper {
        margin: 0 auto;
        background-image: url("https://csusbernardino.radiusbycampusmgmt.com/crm/viewImage?id=3269000000062017&amp;fileName=%2FASR+E-Mails%2F2019%2FCSUSB_WDTF_Grunge_Header.jpg");
        background-repeat: repeat-x;
        min-height: 191px;
    }

    #form-header-csusb {
        margin-top: -30px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        background-image: url("https://mcneese.hobsonsradius.com/crm/viewImage?id=1470000000527307&fileName=%2FMcNeese_logo.png");
        background-position: center; 
        min-height: 191px;
    }

    #form-wrapper div.blurb {
        margin: 10px 0px 0px 10px;
    }

    #form-wrapper form button {
        background: #fad703 !important;
        min-width: 130px;
        max-width: 130px;
    }

    #form-wrapper form button:hover, #form-wrapper form button:active {
    color: #fff;
    background: #00477f !important;
    }

    #form-footer {
        padding: 0px;
    }

    #form-footer-csusb {
        width: 100%;
        height: 100%;
        background-image: url("https://mcneese.hobsonsradius.com/crm/viewImage?id=1470000000527307&fileName=%2FMcNeese_footer.png");
        background-repeat: repeat-x;
    } 

}    

/* iPad Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

    form, #form-wrapper {
        width: 100%;
    }

    #form-header {
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

        #form-wrapper > form > div.form-action-bar.bottom > div.left-buttons,
        #form-wrapper > form > div.form-action-bar.bottom > div.right-buttons {
        display: block;
        visibility: hidden;
        overflow: hidden;
        font-size: 0px;
        line-height: 0px;
        width: 0px;
        min-width: 0px;
        max-width: 0px;
        height: 0px;
        min-height: 0px;
        max-height: 0px;
        margin: 0px;
        padding: 0px;
        border: none;
    }

    #form-wrapper div.blurb {
        margin: 10px 0px 0px 10px;
    }

    #form-wrapper form button {
        background: #fad703 !important;
        min-width: 130px;
        max-width: 130px;
    }

    #form-wrapper form button:hover, #form-wrapper form button:active {
    color: #fff;
    background: #00477f !important;
    }

    #form-footer {
        padding: 0px;
    }

    #form-footer-csusb {
        width: 100%;
        height: 100%;
        background-image: url(https://mcneese.hobsonsradius.com/crm/viewImage?id=1470000000527307&fileName=%2FMcNeese_footer.png);
        background-repeat: repeat-x;
    }
}    

/* iPad Pro Portrait */
@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1024px) 
and (min-device-height : 1366px) 
and (max-device-height : 1366px) 
and (min-width: 1024px) 
and (max-width: 1024px) {

    form, #form-wrapper {
        width: 800px;
    }
}